/* -----------------------------------------
   Dashboard
----------------------------------------- */

.page-template-template-dashboard-php {
	background: #000;
}

.page-template-template-dashboard-php .sidebar-wrapper,
.page-template-template-dashboard-php .page-header,
.page-template-template-dashboard-php #footer,
.page-template-template-dashboard-php #wpadminbar {
	display: none;
}

.page-template-template-dashboard-php .main-wrapper {
	margin-left: 0;
}

.page-template-template-dashboard-php .panel {
	background: #373737;

    border: none;

    box-shadow: none;

	color: #fff;
}

.page-template-template-dashboard-php .panel header {
    background: none;

    border-color: #666;
    
    color: #999;

    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
}

.page-template-template-dashboard-php .panel header h3 {
	font-size: 1em;
	font-weight: normal;
	
	text-transform: uppercase;
}

.page-template-template-dashboard-php .dashboard-loader {
	display: none;

	background: #fff1a8;

	font-weight: bold;

	padding: 2px 4px;

	position: absolute;
	right: 0;
	top: 0;
}

/* Twitter */
.page-template-template-dashboard-php .widget_orbis_twitter .post-list li {
	font-size: 26px;

	padding: 20px;
}

.page-template-template-dashboard-php .widget_orbis_twitter .post-list li:last-child {
	border: none;
}

/* Timesheets */
.person-timesheet-hours {
	display: table;

	margin-bottom: 10px;

	width: 100%; 
}

.person-timesheet-hours .progress-wrapper {
	display: table-cell; 

	width: 80%;
}

.person-timesheet-hours .progress {
	margin-top: 20px;
}

.person-timesheet-hours .avatar {
	float: left; 

	margin-right: 20px;
}

.person-timesheet-hours .number-hours {
	display: table-cell; 

	padding-left: 20px;

	vertical-align: middle;

	width: 20%; 
}
